.product-cont{
    border:2px solid red;
    width:80%;
    margin: auto;
    
}
.product-cont1{
display: grid;
grid-template-columns: auto auto auto;
gap:50px;
}

.product-cont1>div{
    align-self: baseline;
    text-align: center;
    /* padding-left: 110px;
     */
     margin-left:90px;
}

.btn{
    justify-content:center
}
.Prodimage{
    object-fit: contain !important ;
}