.productlist-cont{
    /* color:red; */
    display: grid;
    grid-template-columns: auto auto;
    width: 70%;
    margin: auto;
    text-align: center;
    grid-gap: 10px;
    margin-top:20px;
}
.productlist-cont>div{
    cursor: pointer;
    /* border: 2px solid grey; */
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
}