.product-cont{
    /* border:2px solid red; */
    width:80%;
    margin: auto;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
}
.product-cont1{
display: grid;
grid-template-columns: auto auto auto;
gap:50px;

}

.product-cont1>div{
    align-self: baseline;
    text-align: center;
    /* padding-left: 110px;
     */
     margin-left:90px;
}

.btn{
    justify-content:center
}
.Prodimage{
    object-fit: contain !important ;
}
.sortbycost{
    padding-top: 15px;
}